@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  
--background: hsl(0.00 0.00% 100.00%);
--foreground: hsl(230.77 61.90% 4.12%);

--primary: hsl(231.43 62.44% 41.76%);
--primary-foreground: hsl(235.38 44.83% 94.31%);

--card: hsl(240.00 33.33% 98.82%);
--card-foreground: hsl(230.77 61.90% 4.12%);

--popover: hsl(240.00 33.33% 98.82%);
--popover-foreground: hsl(230.77 61.90% 4.12%);

--secondary: hsl(231.00 45.45% 91.37%);
--secondary-foreground: hsl(0.00 0.00% 0.00%);

--muted: hsl(235.38 44.83% 94.31%);
--muted-foreground: hsl(0.00 0.00% 40.00%);

--accent: hsl(235.38 44.83% 94.31%);
--accent-foreground: hsl(231.00 62.50% 6.27%);

--destructive: hsl(0.00 84.24% 60.20%);
--destructive-foreground: hsl(210.00 40.00% 98.04%);

--border: hsl(234.00 16.13% 87.84%);

--input: hsl(229.41 16.83% 80.20%);

--ring: hsl(231.43 62.44% 41.76%);

--chart-1: hsl(231.43 62.44% 41.76%);
--chart-2: hsl(231.50 44.66% 50.39%);
--chart-3: hsl(231.03 45.08% 62.16%);
--chart-4: hsl(231.78 44.79% 68.04%);
--chart-5: hsl(231.00 44.78% 73.73%);

--sidebar: hsl(240.00 33.33% 98.82%);
--sidebar-foreground: hsl(230.77 61.90% 4.12%);
--sidebar-primary: hsl(231.43 62.44% 41.76%);  
--sidebar-primary-foreground: hsl(235.38 44.83% 94.31%);
--sidebar-accent: hsl(231.43 62.44% 41.76%);
--sidebar-accent-foreground: hsl(235.38 44.83% 94.31%);  
--sidebar-border: hsl(231.11 45.76% 88.43%);
--sidebar-ring: hsl(231.43 62.44% 41.76%);

--radius: 0.5rem;
    
}

.dark {
  
--background: hsl(0.00 0.00% 0.00%);
--foreground: hsl(231.00 45.45% 91.37%);

--primary: hsl(231.43 62.44% 41.76%);
--primary-foreground: hsl(235.38 44.83% 94.31%);

--card: hsl(230.00 21.43% 5.49%);
--card-foreground: hsl(231.00 45.45% 91.37%);

--popover: hsl(240.00 5.88% 6.67%);
--popover-foreground: hsl(231.00 45.45% 91.37%);

--secondary: hsl(231.06 62.67% 14.71%);
--secondary-foreground: hsl(0.00 0.00% 100.00%);

--muted: hsl(0.00 0.00% 9.80%);
--muted-foreground: hsl(0.00 0.00% 50.20%);

--accent: hsl(231.06 62.67% 14.71%);
--accent-foreground: hsl(231.00 45.45% 91.37%);

--destructive: hsl(0.00 84.24% 60.20%);
--destructive-foreground: hsl(210.00 40.00% 98.04%);

--border: hsl(232.50 9.30% 16.86%);

--input: hsl(231.43 14.29% 19.22%);

--ring: hsl(231.43 62.44% 41.76%);

--chart-1: hsl(231.43 62.44% 41.76%);
--chart-2: hsl(231.50 62.43% 35.49%);
--chart-3: hsl(231.63 62.32% 27.06%);
--chart-4: hsl(231.78 62.39% 22.94%);
--chart-5: hsl(231.00 62.50% 18.82%);

--sidebar: hsl(240.00 5.88% 6.67%);
--sidebar-foreground: hsl(231.00 45.45% 91.37%);
--sidebar-primary: hsl(231.43 62.44% 41.76%);  
--sidebar-primary-foreground: hsl(235.38 44.83% 94.31%);
--sidebar-accent: hsl(231.43 62.44% 41.76%);
--sidebar-accent-foreground: hsl(235.38 44.83% 94.31%);  
--sidebar-border: hsl(231.11 62.79% 8.43%);
--sidebar-ring: hsl(231.43 62.44% 41.76%);

--radius: 0.5rem;
    
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
